<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.analysis.graph.core.criticalpath.CriticalPathModule"
            icon="icons/critical-path.png"
            id="org.eclipse.tracecompass.analysis.graph.core.criticalpath"
            name="Critical Path">
         <parameter
               name="graph">
         </parameter>
         <parameter
               name="workerid">
         </parameter>
         <parameter
               name="algorithm">
         </parameter>
         <tracetype
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
