<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.internal.lttng2.kernel.ui.views.PerspectiveFactory"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.perspective"
            name="%kernel.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.linuxtools.internal.lttng2.kernel.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.linuxtools.internal.lttng2.kernel.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.eclipse.linuxtools.tmf.ui.navigator.content"
            menuGroupId="org.eclipse.linuxtools.tmf.ui.views.ui.wizards.menuGroupId"
            type="new"
            wizardId="org.eclipse.linuxtools.tmf.ui.views.ui.wizards.newProject">
         <enablement>
            <with variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.linuxtools.lttng2.kernel.ui.perspective">
               </equals>
            </with>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.linuxtools.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.views.controlflow">
         <analysisId
               id="org.eclipse.linuxtools.lttng2.kernel.analysis">
         </analysisId>
      </output>
      <output
            class="org.eclipse.linuxtools.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.views.resources">
         <analysisId
               id="org.eclipse.linuxtools.lttng2.kernel.analysis">
         </analysisId>
      </output>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/obj16/garland16.png"
            tracetype="org.eclipse.linuxtools.lttng2.kernel.tracetype">
         <eventsTableType
               class="org.eclipse.linuxtools.internal.lttng2.kernel.ui.viewers.events.LTTng2EventsTable">
         </eventsTableType>
      </type>
   </extension>
</plugin>
