<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.linuxtools.lttng2.kernel.ui.perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.internal.lttng2.kernel.kernel.ui.views.PerspectiveFactory"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.perspective"
            name="%perspective.category.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetype">
      <category
            id="org.eclipse.linuxtools.lttng2.kernel.ui.category"
            name="%tracetype.category.lttng">
      </category>
      <type
            category="org.eclipse.linuxtools.lttng2.kernel.ui.category"
            event_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfEvent"
            id="org.eclipse.linuxtools.lttng2.kernel.tracetype"
            name="%tracetype.type.kernel"
            trace_type="org.eclipse.linuxtools.lttng2.kernel.core.trace.CtfKernelTrace">
      </type>
   </extension>
</plugin>
