<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.linuxtools.tmf.ctf.core.CtfTmfEvent"
            id="org.eclipse.linuxtools.lttng2.kernel.tracetype"
            isDirectory="true"
            name="%tracetype.type.kernel"
            trace_type="org.eclipse.linuxtools.lttng2.kernel.core.trace.LttngKernelTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.linuxtools.lttng2.kernel.core.analysis.LttngKernelAnalysisModule"
            automatic="true"
            id="org.eclipse.linuxtools.lttng2.kernel.analysis"
            name="%analysis.lttngkernel">
         <tracetype
               class="org.eclipse.linuxtools.lttng2.kernel.core.trace.LttngKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.linuxtools.lttng2.kernel.core.cpuusage.LttngKernelCpuUsageAnalysis"
            id="org.eclipse.linuxtools.lttng2.kernel.core.cpuusage"
            name="%cpuusage.lttng.kernel">
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.lttng2.kernel.core.trace.LttngKernelTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
