<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <source
            class="org.eclipse.linuxtools.tmf.analysis.xml.ui.module.XmlAnalysisModuleSource">
      </source>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
            id="org.eclipse.linuxtools.tmf.analysis.xml.ui.importxml"
            name="%command.xml.import"
            description="%command.xml.import.description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=org.eclipse.linuxtools.tmf.ui.menu.managecustomparsers">
         <command
               commandId="org.eclipse.linuxtools.tmf.analysis.xml.ui.importxml"
               label="%command.xml.import"
               mnemonic="%command.xml.import.mnemonic"
               style="push"
               tooltip="%command.xml.import.description">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                           value="org.eclipse.linuxtools.tmf.ui.project.model.TmfTraceFolder">
                        </instanceof>
                        <instanceof
                           value="org.eclipse.linuxtools.tmf.ui.project.model.TmfExperimentFolder">
                        </instanceof>
                        <instanceof
                           value="org.eclipse.linuxtools.tmf.ui.project.model.TmfProjectElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.linuxtools.internal.tmf.analysis.xml.ui.handler.ImportXmlHandler"
            commandId="org.eclipse.linuxtools.tmf.analysis.xml.ui.importxml">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                        value="org.eclipse.linuxtools.tmf.ui.project.model.TmfTraceFolder">
                     </instanceof>
                     <instanceof
                        value="org.eclipse.linuxtools.tmf.ui.project.model.TmfExperimentFolder">
                     </instanceof>
                     <instanceof
                        value="org.eclipse.linuxtools.tmf.ui.project.model.TmfProjectElement">
                     </instanceof>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.linuxtools.tmf.analysis.xml.ui.views.timegraph.XmlTimeGraphView"
            id="org.eclipse.linuxtools.tmf.analysis.xml.ui.views.timegraph"
            name="%xmltimegraph.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.linuxtools.internal.tmf.analysis.xml.ui.views.xychart.XmlXYView"
            id="org.eclipse.linuxtools.internal.tmf.analysis.xml.ui.views.xyview"
            name="%xmlxychart.view.name"
            restorable="true">
      </view>
   </extension>
</plugin>
