<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.internal.lttng2.kernel.ui.views.PerspectiveFactory"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng2.kernel.ui.perspective"
            name="%kernel.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.lttng2.kernel.ui.views.vm.vcpuview.VirtualMachineView"
            id="org.eclipse.tracecompass.lttng2.analysis.vm.ui.vmview"
            name="%vcpuview.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.eclipse.linuxtools.tmf.ui.navigator.content"
            menuGroupId="org.eclipse.linuxtools.tmf.ui.views.ui.wizards.menuGroupId"
            type="new"
            wizardId="org.eclipse.linuxtools.tmf.ui.views.ui.wizards.newProject">
         <enablement>
            <with variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.linuxtools.lttng2.kernel.ui.perspective">
               </equals>
            </with>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.lttng2.analysis.vm.ui.vmview">
         <analysisId
               id="org.eclipse.tracecompass.lttng2.analysis.vm.core.VirtualMachineAnalysisModule">
         </analysisId>
      </output>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetypeui">
      <type
            icon="icons/obj16/garland16.png"
            tracetype="org.eclipse.linuxtools.lttng2.kernel.tracetype">
         <perspective
               id="org.eclipse.linuxtools.lttng2.kernel.ui.perspective">
         </perspective>
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <parameterProvider
            class="org.eclipse.tracecompass.internal.lttng2.kernel.ui.criticalpath.CriticalPathParameterProvider">
         <analysisId
               id="org.eclipse.tracecompass.analysis.graph.core.criticalpath">
         </analysisId>
      </parameterProvider>
   </extension>
</plugin>
