<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="tracecompass-e4.20" sequenceNumber="3">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/builds/10.3/cdt-10.3.0-rc1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/technology/swtbot/snapshots/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.core" version="0.0.0"/>
<unit id="org.eclipse.remote.ui" version="0.0.0"/>
<unit id="org.eclipse.remote.jsch.core" version="0.0.0"/>
<unit id="org.eclipse.remote.jsch.ui" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/ptp/remote/releases/3.0/remote-3.0.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.commons.compress" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.lang3" version="0.0.0"/>
<unit id="org.apache.xml.serializer" version="0.0.0"/>
<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
<unit id="org.json" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="jakarta.xml.bind" version="2.3.3.v20201118-1818"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/S20210518003616/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.runtime" version="0.0.0"/>
<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.swt.tools.spies" version="0.0.0"/>
<unit id="org.eclipse.ui.trace" version="0.0.0"/>
<unit id="org.eclipse.ui.views.log" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.20-I-builds/I20210526-2310/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tracecompass.testtraces.tracecompass-test-traces-ctf" version="1.7.2"/>
<repository location="https://archive.eclipse.org/tracecompass/tracecompass-test-traces/repository/1.7.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml.core" version="0.0.0"/>
<unit id="org.eclipse.wst.xml.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.xsd.core" version="0.0.0"/>
<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.22.0/S-3.22.0.RC1-20210531021348/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xsd" version="0.0.0"/>
<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.26/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtchart.feature.source.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/swtchart/releases/0.12.0/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx512M</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
