<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
       point="org.eclipse.ui.views">
		<category id="org.eclipse.linuxtools.tmf.ui.stubs" name="TMF UI Stubs">
		</category>
		<view category="org.eclipse.linuxtools.tmf.ui.stubs"
			class="org.eclipse.linuxtools.tmf.ui.widgets.timegraph.test.stub.views.TsfTraceAnalysisView"
			id="org.eclipse.linuxtools.tmf.ui.widgets.timeAnalysis.test.stub.views.TmfTaTimeAnalysis"
			name="Time Graph View" restorable="true">
		</view>
  <view
        category="org.eclipse.linuxtools.tmf.ui.stubs"
        class="org.eclipse.linuxtools.tmf.ui.views.uml2sd.SDView"
        id="org.eclipse.linuxtools.tmf.ui.tests.testSDView1Loader"
        name="TestSDView1Loader"
        restorable="true">
  </view>
  <view
        category="org.eclipse.linuxtools.tmf.ui.stubs"
        class="org.eclipse.linuxtools.tmf.ui.views.uml2sd.SDView"
        id="org.eclipse.linuxtools.tmf.ui.tests.testSDView2Loaders"
        name="TestSDView2Loaders"
        restorable="true">
  </view>
  <view
        category="org.eclipse.linuxtools.tmf.ui.stubs"
        class="org.eclipse.linuxtools.tmf.ui.views.uml2sd.SDView"
        id="org.eclipse.linuxtools.tmf.ui.tests.testAnalysisView"
        name="Test Analysis View"
        restorable="true">
  </view>
 </extension>
 <extension
       point="org.eclipse.linuxtools.tmf.ui.uml2SDLoader">
    <uml2SDLoader
          class="org.eclipse.linuxtools.tmf.ui.tests.uml2sd.load.TestLoaders"
          default="true"
          id="org.eclipse.linuxtools.tmf.ui.tests.uml2SDLoader1"
          name="Test Loader "
          view="org.eclipse.linuxtools.tmf.ui.tests.testSDView1Loader">
    </uml2SDLoader>
 </extension>
 <extension
       point="org.eclipse.linuxtools.tmf.ui.uml2SDLoader">
    <uml2SDLoader
          class="org.eclipse.linuxtools.tmf.ui.tests.uml2sd.load.TestLoaders"
          default="true"
          id="org.eclipse.linuxtools.tmf.ui.tests.uml2SDLoader2"
          name="Test Loader2"
          view="org.eclipse.linuxtools.tmf.ui.tests.testSDView2Loaders">
    </uml2SDLoader>
 </extension>
 <extension
       point="org.eclipse.linuxtools.tmf.ui.uml2SDLoader">
    <uml2SDLoader
          class="org.eclipse.linuxtools.tmf.ui.views.uml2sd.loader.TmfUml2SDSyncLoader"
          default="true"
          id="org.eclipse.linuxtools.tmf.ui.tests.uml2SDLoader3"
          name="Test Tmf UML2SD Loader"
          view="org.eclipse.linuxtools.tmf.ui.tests.testSDView2Loaders">
    </uml2SDLoader>
 </extension>

   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.linuxtools.tmf.ui.tests.stubs.analysis.TestAnalysisUi"
            id="org.eclipse.linuxtools.tmf.ui.tests.test"
            name="Test analysis in UI">
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.ctf.CtfTmfTraceStub">
         </tracetype>
      </module>
      <output
            class="org.eclipse.linuxtools.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.linuxtools.tmf.ui.tests.testAnalysisView">
         <analysisModuleClass
               class="org.eclipse.linuxtools.tmf.ui.tests.stubs.analysis.TestAnalysisUi">
         </analysisModuleClass>
      </output>
   </extension>

</plugin>
