<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.lttng.ui.views.PerspectiveFactory"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng.ui.perspective"
            name="%perspective.category.name">
      </perspective>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.views"
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.linuxtools.lttng.ui.views.category"
            name="%views.category.name">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.project.ProjectView"
            icon="icons/eview16/project_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.project"
            name="%project.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.control.ControlView"
            icon="icons/eview16/control_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.control"
            name="%control.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.events.EventsView"
            icon="icons/eview16/events_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.events"
            name="%events.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.timeframe.TimeFrameView"
            icon="icons/eview16/time_frame_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.timeframe"
            name="%timeframe.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.statistics.StatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.statistics"
            name="%statistics.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.histogram.HistogramView"
            icon="icons/eview16/histogram.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.histogram"
            name="%histogram.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.linuxtools.lttng.ui.wizards.new"
            name="%wizard.category.name">
      </category>
      <wizard
            category="org.eclipse.linuxtools.lttng.ui.wizards.new"
            class="org.eclipse.linuxtools.lttng.ui.views.project.dialogs.NewProjectWizard"
            descriptionImage="icons/obj16/garland16.png"
            finalPerspective="org.eclipse.linuxtools.lttng.ui.perspective"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng.ui.views.ui.wizards.newProject"
            name="%project.new.wizard.name"
            project="true">
         <description>
            %project.new.wizard.description
         </description>
      </wizard>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.views.project.LTTngProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.linuxtools.lttng.ui.views.project.LTTngProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.actionSets"
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%action.set.description"
            id="org.eclipse.linuxtools.lttng.ui.actionSet"
            label="%action.set.label"
            visible="true">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commands.project.category.description"
            id="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            name="%commands.project.category.name">
      </category>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.new.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.new"
            name="%commands.project.new">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.open.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.open"
            name="%commands.project.open">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.close.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.close"
            name="%commands.project.close">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.rename.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.rename"
            name="%commands.project.rename">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.delete.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.delete"
            name="%commands.project.delete">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.project.category"
            description="%commands.project.refresh.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.refresh"
            name="%commands.project.refresh">
      </command>
      <category
            description="%commands.trace.category.description"
            id="org.eclipse.linuxtools.lttng.ui.commands.trace.category"
            name="%commands.trace.category.name">
      </category>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.trace.category"
            description="%commands.trace.import.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.trace.import"
            name="%commands.trace.import">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.trace.category"
            description="%commands.trace.open.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.trace.open"
            name="%commands.trace.open">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.trace.category"
            description="%commands.trace.rename.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.trace.rename"
            name="%commands.trace.rename">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.trace.category"
            description="%commands.trace.delete.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.trace.delete"
            name="%commands.trace.delete">
      </command>
      <category
            description="%commands.experiment.category.description"
            id="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            name="%commands.experiment.category.name">
      </category>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            description="%commands.experiment.new.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.experiment.new"
            name="%commands.experiment.new">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            description="%commands.experiment.selecttraces.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.experiment.select"
            name="%commands.experiment.selecttraces">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            description="%commands.experiment.open.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.experiment.open"
            name="%commands.experiment.open">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            description="%commands.experiment.rename.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.experiment.rename"
            name="%commands.experiment.rename">
      </command>
      <command
            categoryId="org.eclipse.linuxtools.lttng.ui.commands.experiment.category"
            description="%commands.experiment.delete.description"
            id="org.eclipse.linuxtools.lttng.ui.command.project.experiment.delete"
            name="%commands.experiment.delete">
      </command>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.linuxtools.lttng.ui.views.project?after=additions">
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.new"
               icon="icons/obj16/garland16.png"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.new"
               label="%commands.project.new"
               style="push">
         </command>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.open"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.open"
               label="%commands.project.open"
               style="push">
         </command>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.close"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.close"
               label="%commands.project.close"
               style="push">
         </command>
         <!-- command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.rename"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.rename"
               label="Rename Project"
               style="push">
         </command -->
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.delete"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.delete"
               label="%commands.project.delete"
               style="push">
         </command>
         <separator
               name="org.eclipse.linuxtools.lttng.ui.menu.popup.project.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.new"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.experiment.new"
               label="%commands.experiment.new"
               style="push">
         </command>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.select"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.experiment.select"
               label="%commands.experiment.selecttraces"
               style="push">
         </command>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.open"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.experiment.open"
               label="%commands.experiment.open"
               style="push">
         </command>
         <!-- command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.rename"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.experiment.rename"
               label="Rename Experiment"
               style="push">
         </command -->
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.delete"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.experiment.delete"
               label="%commands.experiment.delete"
               style="push">
         </command>
         <separator
               name="org.eclipse.linuxtools.lttng.ui.menu.popup.project.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.import"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.trace.import"
               label="%commands.trace.import"
               style="push">
         </command>
         <!-- command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.open"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.trace.open"
               label="Open Trace"
               style="push">
         </command -->
         <!-- command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.rename"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.trace.rename"
               label="Rename Trace"
               style="push">
         </command -->
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.delete"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.trace.delete"
               label="%commands.trace.delete"
               style="push">
         </command>
         <separator
               name="org.eclipse.linuxtools.lttng.ui.menu.popup.project.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.linuxtools.lttng.ui.command.project.refresh"
               id="org.eclipse.linuxtools.lttng.ui.menu.popup.project.refresh"
               label="%commands.project.refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.handlers"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.NewProjectHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.new">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.OpenProjectHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.open">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.CloseProjectHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.close">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.RenameProjectHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.rename">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.DeleteProjectHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.delete">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.ImportTraceHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.import">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.OpenTraceHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.open">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.RenameTraceHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.rename">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.DeleteTraceHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.trace.delete">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.NewExperimentHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.new">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.SelectTracesHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.select">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.OpenExperimentHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.open">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.RenameExperimentHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.rename">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.DeleteExperimentHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.experiment.delete">
      </handler>
      <handler
            class="org.eclipse.linuxtools.lttng.ui.views.project.handlers.RefreshHandler"
            commandId="org.eclipse.linuxtools.lttng.ui.command.project.refresh">
      </handler>
   </extension>

    <!-- ======================================= -->
    <!-- SubSystem Configuration                 -->
    <!-- ======================================= -->
    <extension point="org.eclipse.rse.core.subsystemConfigurations">
        <configuration
              category="users"
              class="org.eclipse.linuxtools.lttng.ui.tracecontrol.subsystems.TraceSubSystemConfiguration"
              description="%lttng.rse.subsystem.config.description"
              icon="icons/obj16/garland16.gif"
              iconlive="icons/obj16/garland16-live.gif"
              id="org.eclipse.linuxtools.lttng.ui.tracecontrol.subsystems.TraceSubSystemConfiguration"
              name="%lttng.rse.subsystem.config.name"
              systemTypeIds="org.eclipse.tm.tcf.rse.systemType"
              vendor="%Bundle-Vendor">
        </configuration>
   </extension>

   <!-- ======================================= -->
   <!-- SubSystem Type Description              -->
   <!-- ======================================= -->
    <extension
          point="org.eclipse.rse.core.systemTypes">
       <systemType
             description="%lttng.rse.subsystem.type.description"
             icon="icons/obj16/systemlttng.gif"
             iconLive="icons/obj16/systemlttng-live.gif"
             id="org.eclipse.linuxtools.lttng.ui.tracecontrol.systemType"
             label="%lttng.rse.subsystem.type.name"
             name="org.eclipse.linuxtools.lttng.ui.tracecontrol.systemType"
             subsystemConfigurationIds="org.eclipse.linuxtools.lttng.ui.tracecontrol.subsystems.TraceSubSystemConfiguration;org.eclipse.tm.tcf.rse.Processes;org.eclipse.tm.tcf.rse.Shells;org.eclipse.tm.tcf.rse.Files;org.eclipse.tm.tcf.rse.Terminals">
       </systemType>
    </extension>
     
   <!-- ======================================= -->
   <!-- Remote Object Popup Menu Actions        -->
   <!-- ======================================= -->
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.deletetrace"
             objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
          <action
                class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.DeleteTrace"
                enablesFor="*"
                icon="icons/elcl16/delete_trace.gif"
                id="actions.trace.delete"
                label="%action.delete.label"
                menubarPath="additions"
                tooltip="%action.delete.tooltip">
             <enablement>
                <and>
                   <objectClass
                         name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                   </objectClass>
                   <objectState
                         name="canDelete"
                         value="yes">
                   </objectState>
                </and>
             </enablement>
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="org.eclipse.linuxtools.lttng.ui.tracecontrol.importtrace"
             objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
          <action
                class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.ImportToProject"
                enablesFor="*"
                icon="icons/elcl16/import_trace.gif"
                id="org.eclipse.linuxtools.lttng.ui.tracecontrol.action1"
                label="%action.import.label"
                menubarPath="additions"
                tooltip="%action.import.tooltip">
             <enablement>
                <and>
                   <objectClass
                         name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                   </objectClass>
                   <objectState
                         name="canImport"
                         value="yes">
                   </objectState>
                </and>
             </enablement>
          </action>
       </objectContribution>
      <objectContribution
               id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.createnewtrace"
               objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TargetResource">
            <action
                   label="%action.newtrace.label"
                   tooltip="%action.newtrace.tooltip"
                   icon="icons/elcl16/new_trace.gif"
                   class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.CreateNewTrace"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.trace.new">
            <enablement>
             <and>
              <objectClass name="org.eclipse.linuxtools.lttng.tracecontrol.model.TargetResource"/> 
              <objectState name="canCreateNewTrace" value="yes"/> 
             </and>
            </enablement> 
           </action>
       </objectContribution>
       <objectContribution
               objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource"
               id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.configuretrace">
           <action
                   label="%action.configuretrace.label"
                   tooltip="%action.configuretrace.tooltip"
                   icon="icons/elcl16/configure_trace.gif"
                   class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.ConfigureTrace"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.trace.configure">
            <enablement>
             <and>
              <objectClass name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource"/> 
              <objectState name="canConfigure" value="yes"/> 
             </and>
            </enablement> 
           </action>
       </objectContribution>
       <objectContribution
             id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.stoptrace"
             objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
          <action
                class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.StopTrace"
                enablesFor="*"
                icon="icons/elcl16/stop_trace.gif"
                id="actions.trace.stop"
                label="%action.stop.label"
                menubarPath="additions"
                tooltip="%action.stop.tooltip">
             <enablement>
                <and>
                   <objectClass
                         name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                   </objectClass>
                   <objectState
                         name="canStop"
                         value="yes">
                   </objectState>
                </and>
             </enablement>
          </action>
       </objectContribution>
       <objectContribution
             id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.pausetrace"
             objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
          <action
                class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.PauseTrace"
                enablesFor="*"
                icon="icons/elcl16/pause_trace.gif"
                id="actions.trace.pause"
                label="%action.pause.label"
                menubarPath="additions"
                tooltip="%action.puase.tooltip">
             <enablement>
                <and>
                   <objectClass
                         name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                   </objectClass>
                   <objectState
                         name="canPause"
                         value="yes">
                   </objectState>
                </and>
             </enablement>
          </action>
       </objectContribution>
       <objectContribution
               objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource"
               id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.starttrace">
           <action
                 class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.StartTrace"
                 enablesFor="*"
                 icon="icons/elcl16/start_trace.gif"
                 id="actions.trace.start"
                 label="%action.start.label"
                 menubarPath="additions"
                 tooltip="%action.start.tooltip">
            <enablement>
             <and>
              <objectClass name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource"/> 
              <objectState name="canStart" value="yes"/> 
             </and>
            </enablement> 
           </action>
       </objectContribution>
       
       <objectContribution
               objectClass="org.eclipse.linuxtools.lttng.tracecontrol.model.TargetResource"
               id="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.configuremarkers">
           <action
                   label="%action.configuremarkers.label"
                   tooltip="%action.configuremarkers.tooltip"
                   icon="icons/elcl16/configure_markers.gif"
                   class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.ConfigureMarkers"
                   menubarPath="additions"
                   enablesFor="1"
                   id="actions.markers.configure">
           </action>
       </objectContribution>

    </extension>
    
   <!-- ======================================= -->
   <!-- Remote System View Contributions        -->
   <!-- ======================================= -->
   <extension
         point="org.eclipse.ui.viewActions">
         
         
      <viewContribution
            id="org.eclipse.linuxtools.lttng.ui.tracecontrol.viewContribution.stop"
            targetID="org.eclipse.rse.ui.view.systemView">
         <action
               class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.StopTrace"
               enablesFor="*"
               icon="icons/elcl16/stop_trace.gif"
               id="actions.trace.stop"
               label="%action.stop.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%action.stop.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                  </objectClass>
                  <objectState
                        name="canStop"
                        value="yes">
                  </objectState>
               </and>
            </enablement>
         </action>
      </viewContribution>
      
      <viewContribution
            id="org.eclipse.linuxtools.lttng.ui.tracecontrol.viewContribution.pause"
            targetID="org.eclipse.rse.ui.view.systemView">
         <action
               class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.PauseTrace"
               enablesFor="*"
               icon="icons/elcl16/pause_trace.gif"
               id="actions.trace.pause"
               label="%action.pause.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%action.pause.tooltip">
             <enablement>
                <and>
                   <objectClass
                         name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                   </objectClass>
                   <objectState
                         name="canPause"
                         value="yes">
                   </objectState>
                </and>
             </enablement>
         </action>
      </viewContribution>
      
      <viewContribution
            id="org.eclipse.linuxtools.lttng.ui.tracecontrol.viewContribution.start"
            targetID="org.eclipse.rse.ui.view.systemView">
         <action
               class="org.eclipse.linuxtools.lttng.ui.tracecontrol.actions.StartTrace"
               enablesFor="*"
               icon="icons/elcl16/start_trace.gif"
               id="actions.trace.start"
               label="%action.start.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%action.start.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.linuxtools.lttng.tracecontrol.model.TraceResource">
                  </objectClass>
                  <objectState
                        name="canStart"
                        value="yes">
                  </objectState>
               </and>
            </enablement>
         </action>
      </viewContribution>
     
   </extension>

</plugin>
