<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org,eclipse.linuxtools.lttng.ui.perspective"
         name="LTTng Perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.lttng.ui.views.PerspectiveFactory"
            icon="icons/garland32.png"
            id="org.eclipse.linuxtools.lttng.ui.perspective"
            name="LTTng">
      </perspective>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.views"
         name="LTTng Views"
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.linuxtools.lttng.ui.views.category"
            name="LTTng">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.project.ProjectView"
            icon="icons/project_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.project"
            name="Project"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.control.ControlView"
            icon="icons/control_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.control"
            name="Control"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.events.EventsView"
            icon="icons/events_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.events"
            name="Events"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.timeframe.TimeFrameView"
            icon="icons/time_frame_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.timeframe"
            name="Time Frame"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.controlflow.ControlFlowView"
            icon="icons/control_flow_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.controlflow"
            name="Control Flow"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.resources.ResourcesView"
            icon="icons/resources_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.resources"
            name="Resources"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.statistics.StatisticsView"
            icon="icons/statistics_view.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.statistics"
            name="Statistics"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng.ui.views.category"
            class="org.eclipse.linuxtools.lttng.ui.views.histogram.HistogramView"
            icon="icons/histogram.gif"
            id="org.eclipse.linuxtools.lttng.ui.views.histogram"
            name="Histogram"
            restorable="true">
      </view>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.wizards.new"
         name="LTTng New Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.linuxtools.lttng.ui.wizards.new"
            name="LTTng">
      </category>
      <wizard
            category="org.eclipse.linuxtools.lttng.ui.wizards.new"
            class="org.eclipse.linuxtools.lttng.ui.views.project.dialogs.NewProjectWizard"
            descriptionImage="icons/garland16.png"
            finalPerspective="org.eclipse.linuxtools.lttng.ui.perspective"
            icon="icons/garland16.png"
            id="org.eclipse.linuxtools.lttng.ui.views.ui.wizards.newProject"
            name="LTTng Project"
            project="true">
         <description>
            Create a new LTTng project
         </description>
      </wizard>
   </extension>
   <extension
         id="org.eclipse.linuxtools.lttng.ui.views.project.LTTngProjectNature"
         name="LTTng Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.linuxtools.lttng.ui.views.project.LTTngProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="LTTng project management options"
            id="org.eclipse.linuxtools.lttng.ui.view.project.actionSet"
            label="LTTng Project ActionSet"
            visible="false">
         <menu
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu"
               label="&amp;LTTng"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.NewProjectActionDelegate"
               icon="icons/garland16.png"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.newProjectAction"
               label="New LTTng Project"
               menubarPath="org.eclipse.linuxtools.lttng.ui.view.project.menu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Create a new LTTng project">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.lttng.ui.view.project.projectMenu"
            objectClass="org.eclipse.linuxtools.lttng.ui.views.project.model.LTTngProject">
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.DeleteProjectActionDelegate"
               enablesFor="1"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.deleteProjectAction"
               label="Delete LTTng Project"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.NewProjectActionDelegate"
               enablesFor="?"
               icon="icons/garland16.png"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.newProjectAction"
               label="New LTTng Project"
               menubarPath="additions"
               tooltip="Create a new LTTng project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.lttng.ui.view.project.traceMenu"
            objectClass="org.eclipse.linuxtools.lttng.ui.views.project.model.LTTngTraceFolder">
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.ImportTraceActionDelegate"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.importTraceAction"
               label="Import a Trace"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.lttng.ui.view.project.traceEntryMenu"
            objectClass="org.eclipse.linuxtools.lttng.ui.views.project.model.LTTngTraceEntry">
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.DeleteTraceActionDelegate"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.deleteTraceAction"
               label="Delete Trace"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.lttng.ui.view.project.experimentMenu"
            objectClass="org.eclipse.linuxtools.lttng.ui.views.project.model.LTTngExperimentFolder">
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.NewExperimentActionDelegate"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.newExperimentAction"
               label="New Experiment"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.lttng.ui.view.project.experimentEntryMenu"
            objectClass="org.eclipse.linuxtools.lttng.ui.views.project.model.LTTngExperimentEntry">
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.DeleteExperimentActionDelegate"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.deleteExperimentAction"
               label="Delete Experiment"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.linuxtools.lttng.ui.views.project.actions.AddTraceActionDelegate"
               id="org.eclipse.linuxtools.lttng.ui.view.project.menu.addTraceExperimentAction"
               label="Add Traces"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
