<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.os.linux.ui.views.cpuusage.CpuUsageView"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage"
            name="%cpuusage.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.LatencyView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency"
            name="%latency.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernelanalysis.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernelanalysis.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.latency.LatencyAnalysis">
         </analysisModuleClass>
      </output>
   </extension>
</plugin>
