<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow"
            name="%controlflow.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.resources.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources"
            name="%resources.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.cpuusage.CpuUsageView"
            icon="icons/eview16/cpu-usage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage"
            name="%cpuusage.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency"
            name="%latency.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyScatterView"
            icon="icons/eview16/scatter.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.scatter"
            name="%latency.scatter.view.name"
            restorable="true">
       </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.statistics.SystemCallLatencyStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.statsview"
            name="%latency.stats.view.name"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.latency.SystemCallLatencyDensityView"
            icon="icons/eview16/density.png"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.density"
            name="%latency.density.view.name"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.kernelmemoryusage.KernelMemoryUsageView"
            icon="icons/eview16/memory-usage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.kernelmemoryusageview"
            name="%kernelmemoryusageview.view.name"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.views.io.diskioactivity.DiskIOActivityView"
            icon="icons/eview16/resources_view.gif"
            id="org.eclipse.tracecompass.analysis.os.linux.views.diskioactivity"
            name="%diskioactivity.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.controlflow">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernel.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.resources">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernel.KernelAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.cpuusage">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.scatter">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.views.latency.statsview">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.latency.density">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.kernelmemoryusageview">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemoryusage.KernelMemoryAnalysisModule">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.os.linux.views.diskioactivity">
         <analysisModuleClass
               class="org.eclipse.tracecompass.analysis.os.linux.core.inputoutput.InputOutputAnalysisModule">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.internal.analysis.os.linux.ui.perspectives.KernelOverviewPerspectiveFactory"
            icon="icons/obj16/os_overview.png"
            id="org.eclipse.tracecompass.analysis.os.linux.ui.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
</plugin>
