<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.linuxtools.tmf.core.tracetype" name="%extensionpoint.trace_type.name" schema="schema/org.eclipse.linuxtools.tmf.core.tracetype.exsd"/>
   <extension-point id="org.eclipse.linuxtools.tmf.core.analysis" name="%extensionpoint.analysis_module.name" schema="schema/org.eclipse.linuxtools.tmf.core.analysis.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.tmf.core.TmfCorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <source
            class="org.eclipse.linuxtools.internal.tmf.core.analysis.TmfAnalysisModuleSourceConfigElement">
      </source>
      <module
            analysis_module="org.eclipse.linuxtools.tmf.core.statistics.TmfStatisticsModule"
            automatic="true"
            id="org.eclipse.linuxtools.tmf.core.statistics.analysis"
            name="Tmf Statistics Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.tmf.core.trace.TmfTrace">
         </tracetype>
         <tracetype
               applies="false"
               class="org.eclipse.linuxtools.tmf.core.trace.TmfExperiment">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <experiment
            id="org.eclipse.linuxtools.tmf.core.experiment.generic"
            name="%experimenttype.type.generic"
            experiment_type="org.eclipse.linuxtools.tmf.core.trace.TmfExperiment">
      </experiment>
   </extension>
</plugin>
