<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.linuxtools.tmf.core.tracetype" name="Tmf Trace Type" schema="schema/org.eclipse.linuxtools.tmf.core.tracetype.exsd"/>
   <extension-point id="org.eclipse.linuxtools.tmf.core.analysis" name="Trace Analysis Module" schema="schema/org.eclipse.linuxtools.tmf.core.analysis.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.tmf.core.TmfCorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <source
            class="org.eclipse.linuxtools.internal.tmf.core.analysis.TmfAnalysisModuleSourceConfigElement">
      </source>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.linuxtools.tmf.core.category.ctf"
            name="%tracetype.category.ctf">
      </category>
      <type
            category="org.eclipse.linuxtools.tmf.core.category.ctf"
            event_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfEvent"
            id="org.eclipse.linuxtools.tmf.ui.type.ctf"
            isDirectory="true"
            name="%tracetype.type.ctf"
            trace_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfTrace">
      </type>
   </extension>
</plugin>
