<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ui.category.ctf"
            event_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfEvent"
            icon="icons/obj16/garland16.png"
            id="org.eclipse.linuxtools.lttng2.ust.tracetype"
            name="%tracetype.type.ust"
            trace_type="org.eclipse.linuxtools.lttng2.ust.core.trace.LttngUstTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.linuxtools.lttng2.ust.ui.analysis.memory.UstMemoryAnalysisModule"
            id="org.eclipse.linuxtools.lttng2.ust.analysis.memory"
            name="Ust Memory">
         <tracetype
               class="org.eclipse.linuxtools.lttng2.ust.core.trace.LttngUstTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
