<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.statistics:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         <analysisId
               id="org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         </analysisId>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.table:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         <analysisId
               id="org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         </analysisId>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.scatter:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         <analysisId
               id="org.eclipse.tracecompass.internal.analysis.timing.core.event.matching">
         </analysisId>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.table.SegmentStoreTableView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.table"
            name="%view.segstore.table"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.statistics.SegmentStoreStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.statistics"
            name="%view.segstore.statistics"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.scatter.SegmentStoreScatterView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.scatter"
            name="%view.segstore.scatters"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.table.SegmentStoreTableView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.table:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching"
            name="%view.matching.table"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.statistics.SegmentStoreStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.statistics:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching"
            name="%view.matching.stats"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.scatter.SegmentStoreScatterView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.scatter:org.eclipse.tracecompass.internal.analysis.timing.core.event.matching"
            name="%view.matching.scatter"
            restorable="true">
      </view>
   </extension>
</plugin>
