<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.CallGraphAnalysisUI"
            automatic="false"
            icon="icons/elcl16/callgraph.png"
            id="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.callgraphanalysis"
            name="%callgraph.analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.callgraphDensity">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.CallGraphAnalysisUI">
         </analysisModuleClass>
      </output>
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.internal.analysis.timing.ui.flamegraph.flamegraphView">
         <analysisModuleClass
               class="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.CallGraphAnalysisUI">
         </analysisModuleClass>
      </output>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.CallGraphDensityView"
            icon="icons/elcl16/funcdensity.png"
            id="org.eclipse.tracecompass.internal.analysis.timing.ui.callgraph.callgraphDensity"
            name="%view.callgraphDensity"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.analysis.timing.ui.flamegraph.FlameGraphView"
            icon="icons/elcl16/flame.png"
            id="org.eclipse.tracecompass.internal.analysis.timing.ui.flamegraph.flamegraphView"
            name="%view.flameGraph"
            restorable="true">
      </view>
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.analysis.timing.ui.views.segmentstore.table.SegmentStoreTableView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.analysis.timing.ui.segstore.table"
            name="%view.segstore.table"
            restorable="true">
      </view>
   </extension>
</plugin>
