<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.tracecompass.tmf.chart.ui.swtbot.stubs.CustomChartStubView"
            id="org.eclipse.tracecompass.tmf.chart.ui.swtbot.view.stub"
            name="Custom Chart Stub View"
            restorable="true">
      </view>
   </extension>

</plugin>
