<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.test"
         name="Test analysis"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestAnalysis">
         <parameter
               name="test">
         </parameter>
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
         <tracetype
               applies="false"
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub3">
         </tracetype>
      </module>
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.test2"
         name="Test analysis 2"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestAnalysis"
         automatic="true">
         <parameter
               default_value="3"
               name="test">
         </parameter>
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.testother"
         name="Test other analysis"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestAnalysis2"
         automatic="true">
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub3">
         </tracetype>
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub2">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestStateSystemModule"
            automatic="false"
            id="org.eclipse.linuxtools.tmf.core.tests.analysis.sstest"
            name="Test State System">
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestExperimentAnalysis"
            id="org.eclipse.linuxtools.tmf.core.tests.experiment"
            name="Experiment analysis">
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfExperimentStub">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestRequirementAnalysis"
            id="org.eclipse.linuxtools.tmf.core.tests.analysis.reqtest"
            name="Test analysis requirements">
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.linuxtools.tmf.core.tests.category"
            name="Test trace">
      </category>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.core.event.TmfEvent"
            id="org.eclipse.linuxtools.tmf.core.tests.tracetype"
            name="TMF Tests"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
      </type>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.core.event.TmfEvent"
            id="org.eclipse.linuxtools.tmf.core.tests.secondtt"
            name="TMF Tests 2"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub2">
      </type>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.core.event.TmfEvent"
            id="org.eclipse.linuxtools.tmf.core.tests.thirdtt"
            name="TMF Tests 3"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub3">
      </type>
      <experiment
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            id="org.eclipse.linuxtools.tmf.core.tests.experimenttype"
            name="Test experiment"
            experiment_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfExperimentStub">
      </experiment>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.text.SyslogEvent"
            id="org.eclipse.linuxtools.tmf.tests.stubs.trace.text.testsyslog"
            isDirectory="false"
            name="Test Syslog"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.text.SyslogTrace">
      </type>
   </extension>

</plugin>
