<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.test"
         name="Test analysis"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestAnalysis">
         <parameter
               name="test">
         </parameter>
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.test2"
         name="Test analysis 2"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestAnalysis"
         automatic="true">
         <parameter
               default_value="3"
               name="test">
         </parameter>
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
      <module
         id="org.eclipse.linuxtools.tmf.core.tests.analysis.testctf"
         name="Test analysis ctf"
         analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestCtfAnalysis"
         automatic="true">
         <tracetype
               applies="true"
               class="org.eclipse.linuxtools.tmf.tests.stubs.ctf.CtfTmfTraceStub">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.linuxtools.tmf.tests.stubs.analysis.TestStateSystemModule"
            automatic="false"
            id="org.eclipse.linuxtools.tmf.core.tests.analysis.sstest"
            name="Test State System">
         <tracetype
               class="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.linuxtools.tmf.core.tests.category"
            name="Test trace">
      </category>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.core.event.TmfEvent"
            id="org.eclipse.linuxtools.tmf.core.tests.tracetype"
            name="TMF Tests"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.trace.TmfTraceStub">
      </type>
      <type
            category="org.eclipse.linuxtools.tmf.core.tests.category"
            event_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfEvent"
            id="org.eclipse.linuxtools.tmf.core.tests.ctf.tracetype"
            isDirectory="true"
            name="CTF Tests"
            trace_type="org.eclipse.linuxtools.tmf.tests.stubs.ctf.CtfTmfTraceStub">
      </type>
   </extension>

</plugin>
