<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.graph.building.LttngKernelExecutionGraph"
            id="org.eclipse.tracecompass.lttng2.kernel.core.tests.kernelgraph"
            name="LTTng Stub Kernel Execution Graph">
         <tracetype
               class="org.eclipse.tracecompass.tmf.tests.stubs.trace.xml.TmfXmlTraceStub">
         </tracetype>
      </module>
   </extension>

</plugin>
