<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=org.eclipse.tracecompass.rcp.ui.menu.window">
         <menu
               id="org.eclipse.tracecompass.rcp.ui.menu.experimental"
               label="%menu.tools">
            <command
                  commandId="org.eclipse.equinox.p2.ui.discovery.commands.ShowRepositoryCatalog"
                  label="%menu.tools.install"
                  style="push">
	           <parameter
	               name="org.eclipse.equinox.p2.ui.discovery.commands.RepositoryParameter"
	               value="http://download.eclipse.org/tracecompass.incubator/stable-6.2/repository/">
	           </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.tracecompass.rcp.ui.menu.help?after=org.eclipse.equinox.p2.ui.sdk.install">
            <command
                  commandId="org.eclipse.tracecompass.rcp.incubator.ui.feedback"
                  label="%menu.help.feedback"
                  style="push" />
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
            description="%command.experimental.feedback.description"
            id="org.eclipse.tracecompass.rcp.incubator.ui.feedback"
            name="%command.experimental.feedback">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.internal.rcp.incubator.ui.GiveFeedbackHandler"
            commandId="org.eclipse.tracecompass.rcp.incubator.ui.feedback">
      </handler>
   </extension>
</plugin>
