<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.tracecompass.analysis.os.linux.core.graph.handler" name="%extensionpoint.graphhandler.name" schema="schema/org.eclipse.tracecompass.analysis.os.linux.core.graph.handler.exsd"/>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.kernel.KernelAnalysisModule"
            automatic="true"
            icon="icons/tux-by-lewing_at_isc.tamu.edu.png"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel"
            name="%analysis.linuxkernel">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis"
            automatic="false"
            icon="icons/cpuusage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.cpuusage"
            name="%analysis.cpuusage">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis"
            automatic="false"
            icon="icons/systemcalls.png"
            id="org.eclipse.tracecompass.analysis.os.linux.latency.syscall"
            name="%analysis.latency">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.contextswitch.KernelContextSwitchAnalysis"
            icon="icons/contextswitch.png"
            id="org.eclipse.tracecompass.analysis.os.linux.contextswitch"
            name="%analysis.contextswitch">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemoryusage.KernelMemoryAnalysisModule"
            icon="icons/memusage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemory"
            name="%analysis.kernelmemory">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.tid.TidAnalysisModule"
            automatic="true"
            icon="icons/threads.png"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel.tid"
            name="%analysis.tid">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.os.linux.core.inputoutput.InputOutputAnalysisModule"
            icon="icons/ioanalysis.png"
            id="org.eclipse.tracecompass.analysis.os.linux.inputoutput"
            name="%analysis.io">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.execution.graph.OsExecutionGraph"
            applies_experiment="true"
            icon="icons/critical-path.png"
            id="org.eclipse.tracecompass.analysis.os.linux.execgraph"
            name="%analysis.execgraph">
         <tracetype
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <tracetype
            applies="true"
            class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace"
            id="org.eclipse.tracecompass.tmf.core.analysis.callsite">
      </tracetype>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.os.linux.core.kernelmemoryusage.KernelMemoryDataProviderFactory"
            id="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemoryusage">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.os.linux.core.cpuusage.CpuUsageProviderFactory"
            id="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.CpuUsageDataProvider">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.os.linux.core.inputoutput.DisksIODataProviderFactory"
            id="org.eclipse.tracecompass.analysis.os.linux.core.inputoutput.DisksIODataProvider">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.os.linux.core.threadstatus.ThreadStatusDataProviderFactory"
            id="org.eclipse.tracecompass.internal.analysis.os.linux.core.threadstatus.ThreadStatusDataProvider">
      </dataProviderFactory>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.internal.analysis.os.linux.core.resourcesstatus.ResourcesStatusDataProviderFactory"
            id="org.eclipse.tracecompass.internal.analysis.os.linux.core.threadstatus.ResourcesStatusDataProvider">
      </dataProviderFactory>
   </extension>
</plugin>
