<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.kernel.KernelAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel"
            name="%analysis.linuxkernel">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis"
            automatic="false"
            icon="icons/cpuusage.png"
            id="org.eclipse.tracecompass.analysis.os.linux.cpuusage"
            name="%analysis.cpuusage">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.os.linux.core.latency.SystemCallLatencyAnalysis"
            automatic="false"
            icon="icons/systemcalls.png"
            id="org.eclipse.tracecompass.analysis.os.linux.latency.syscall"
            name="%analysis.latency">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.contextswitch.KernelContextSwitchAnalysis"
            icon="icons/contextswitch.png"
            id="org.eclipse.tracecompass.analysis.os.linux.contextswitch"
            name="%analysis.contextswitch">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemoryusage.KernelMemoryAnalysisModule"
            id="org.eclipse.tracecompass.analysis.os.linux.core.kernelmemory"
            name="%analysis.kernelmemory">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.tid.TidAnalysisModule"
            automatic="true"
            icon="icons/threads.png"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel.tid"
            name="%analysis.tid">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.inputoutput.InputOutputAnalysisModule"
            id="org.eclipse.tracecompass.analysis.os.linux.inputoutput"
            name="%analysis.io">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
