<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.timing.core.callgraph.CallGraphAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/callgraph.png"
            id="org.eclipse.tracecompass.internal.analysis.timing.core.callgraph.callgraphanalysis"
            name="%callgraph.analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.analysis.timing.core.event.matching.EventMatchingLatencyAnalysis"
            applies_experiment="true"
            automatic="false"
            icon="icons/eventmatching.png"
            id="org.eclipse.tracecompass.internal.analysis.timing.core.event.matching"
            name="%event.matching.analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.experiment.TmfExperiment">
         </tracetype>
      </module>
   </extension>

</plugin>
