<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.eclipse.linuxtools.lttng2.kernel.tracetype"
            isDirectory="true"
            name="%tracetype.type.kernel"
            trace_type="org.eclipse.tracecompass.lttng2.kernel.core.trace.LttngKernelTrace">
      </type>
      <experiment
            experiment_type="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.trace.VirtualMachineExperiment"
            id="lttng2.analysis.vm.VirtualMachineExperiment"
            name="Virtual Machine Experiment">
      </experiment>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.module.VirtualMachineCpuAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.lttng2.analysis.vm.core.VirtualMachineAnalysisModule"
            name="Virtual Machine Analysis">
            <tracetype
                  applies="true"
                  class="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.vm.trace.VirtualMachineExperiment">
            </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.internal.lttng2.kernel.core.analysis.graph.building.LttngKernelExecutionGraph"
            applies_experiment="true"
            id="org.eclipse.tracecompass.lttng2.kernel.core.execgraph"
            name="LTTng Kernel Exec Graph">
         <tracetype
               class="org.eclipse.tracecompass.lttng2.kernel.core.trace.LttngKernelTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
