<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
            <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.examples.ui.views.histogram.NewHistogramView"
            id="org.eclipse.tracecompass.examples.ui.views.NewHistogramView"
            name="%tracing.examples.histogram.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
         id="example.state.system.module"
         name="Example State System Module"
         analysis_module="org.eclipse.tracecompass.examples.core.analysis.ExampleStateSystemAnalysisModule"
         automatic="true">
         <tracetype
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>

</plugin>
