<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.kernelanalysis.KernelAnalysis"
            automatic="true"
            id="org.eclipse.tracecompass.analysis.os.linux.kernel"
            name="%analysis.linuxkernel">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.analysis.os.linux.core.cpuusage.KernelCpuUsageAnalysis"
            automatic="false"
            id="org.eclipse.tracecompass.analysis.os.linux.cpuusage"
            name="%analysis.cpuusage">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.analysis.os.linux.core.trace.IKernelTrace">
         </tracetype>
      </module>
   </extension>
</plugin>
