<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.linuxtools.tmf.ui.TmfTracingPreferences"
            class="org.eclipse.tracecompass.internal.tmf.remote.ui.preferences.ControlPreferencePage"
            id="org.eclipse.linuxtools.tmf.remote.ui.preferences"
            name="%preference.page.remote.connection.name">
      </page>
      <page
            category="org.eclipse.linuxtools.tmf.ui.TmfTracingPreferences"
            class="org.eclipse.tracecompass.internal.tmf.remote.ui.wizards.fetch.preferences.RemoteProfilesPreferencePage"
            id="org.eclipse.linuxtools.tmf.remote.ui.preferences.remoteprofiles"
            name="%preferences.page.remote.profiles.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
               id="org.eclipse.tracecompass.tmf.remote.ui.command.fetchlog"
               name="%command.import_remote_traces">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
               class="org.eclipse.tracecompass.internal.tmf.remote.ui.wizards.fetch.RemoteFetchLogHandler"
               commandId="org.eclipse.tracecompass.tmf.remote.ui.command.fetchlog">
            <activeWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceFolder">
                     </instanceof>
                  </iterate>
               </and>
            </activeWhen>
         </handler>
   </extension>
   <extension
            point="org.eclipse.ui.menus">
        <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=org.eclipse.linuxtools.tmf.ui.command.importtracepkg">
            <command
                  commandId="org.eclipse.tracecompass.tmf.remote.ui.command.fetchlog"
                  icon="icons/elcl16/fetch_log_wiz.gif"
                  label="%command.import_remote_traces"
                  mnemonic="%command.import_remote_traces.mnemonic"
                  style="push"
                  tooltip="%command.import_remote_traces.description">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menuContribution>
   </extension>
</plugin>
