<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.analysis.counters.core.CounterDataProviderFactory"
            id="org.eclipse.tracecompass.analysis.counters.core.CounterDataProvider">
      </dataProviderFactory>
   </extension>

</plugin>
