<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.linuxtools.tmf.ui.TmfTracingPreferences"
            class="org.eclipse.tracecompass.internal.tmf.remote.ui.preferences.ControlPreferencePage"
            id="org.eclipse.linuxtools.tmf.remote.ui.preferences"
            name="%preference.page.remote.name">
      </page>
   </extension>

</plugin>
