<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.linuxtools.tracing.rcp.ui.application"
            name="Trace Viewer">
            <property
                  name="appName"
                  value="Trace Viewer">
            </property>
            <property
                  name="cssTheme"
                  value="org.eclipse.e4.ui.css.theme.e4_default">
            </property>
            <property
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </property>
            <property
                  name="aboutImage"
                  value="icons/alt_about.gif">
            </property>
            <property
                  name="aboutText"
                  value="Linux Tools Trace Viewer&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;Copyright (c) 2014 Ericsson&#x0A;&#x0A;All rights reserved. This program and the accompanying materials are&#x0A;made available under the terms of the Eclipse Public License v1.0 which&#x0A;accompanies this distribution, and is available at&#x0A;http://www.eclipse.org/legal/epl-v10.html">
            </property>
            <property
                  name="windowImages"
                  value="icons/alt_window_16.gif,icons/alt_window_32.gif">
            </property>
      </product>
   </extension>
</plugin>
