<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.tracecompass.internal.tracing.rcp.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension point="org.eclipse.ui.activities">
      <activity name="%activity.name"                    id="org.eclipse.tracecompass.rcp.ui"      description="%activity.description" />
      <activity name="%activity.name.javaPerspective"      id="org.eclipse.unwantedJavaPerspective"     description="%activity.description.javaPerspective" />
      <activity name="%activity.name.teamPerspective"      id="org.eclipse.unwantedTeamPerspective"     description="%activity.description.teamPerspective" />
      <activity name="%activity.name.debugPerspective"     id="org.eclipse.unwantedDebugPerspective"    description="%activity.description.debugPerspective" />
      <activity name="%activity.name.pluginDevPerspective" id="org.eclipse.unwantedPluginDevPerspective" description="%activity.description.pluginDevPerspective" />
      <activity name="%activity.name.resourcePerspective"  id="org.eclipse.unwantedResourcePerspective"  description="%activity.description.resourcePerspective" />
      <activity name="%activity.name.search"  id="org.eclipse.unwantedSearch"  description="%activity.description.search" />
      <activity name="%activity.name.quicksearch"  id="org.eclipse.unwantedQuickSearch"  description="%activity.description.quicksearch" />
      <activityPatternBinding activityId="org.eclipse.tracecompass.rcp.ui"      pattern="org\.eclipse\.tracecompass.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedJavaPerspective"     pattern="org\.eclipse\.jdt.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedTeamPerspective"     pattern="org\.eclipse\.team.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedDebugPerspective"    pattern="org\.eclipse\.debug.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedSearch" pattern="org\.eclipse\.search.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedQuickSearch" pattern="org\.eclipse\.text\.quicksearch.*" />
      <activityPatternBinding activityId="org.eclipse.unwantedResourcePerspective"  pattern="org\.eclipse\.ui\.[r]*" />
      <defaultEnablement id="org.eclipse.tracecompass.rcp.ui" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.tracecompass.rcp.ui.menu.file"
               label="%menu.main.file"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="org.eclipse.linuxtools.tmf.ui.openFile"
                  label="%command.OpenFile.label"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.linuxtools.tmf.ui.import"
                  label="%command.import"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.file.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.file.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.tracecompass.rcp.ui.menu.window"
               label="%menu.main.window">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.window.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.window.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.tracecompass.rcp.ui.menu.help"
               label="%menu.main.help"
               mnemonic="%menu.mnemonic.0">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.help.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.tracecompass.rcp.ui.menu.help.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.eclipse.tracecompass.internal.tracing.rcp.ui.SplashHandler"
            id="org.eclipse.tracecompass.rcp.ui.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.eclipse.tracecompass.rcp.branding.product"
            splashId="org.eclipse.tracecompass.rcp.ui.splashHandler">
      </splashHandlerProductBinding>
   </extension>
</plugin>
