<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <listener
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.module.TmfXmlAnalysisOutputSource">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.linuxtools.tmf.ui.commands.category"
            description="%command.manager.xml.description"
            id="org.eclipse.tracecompass.tmf.analysis.xml.ui.managexmlanalyses"
            name="%command.manager.xml">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=org.eclipse.linuxtools.tmf.ui.menu.managecustomparsers">
         <command
               commandId="org.eclipse.tracecompass.tmf.analysis.xml.ui.managexmlanalyses"
               label="%command.manager.xml"
               mnemonic="%command.manager.xml.mnemonic"
               style="push"
               tooltip="%command.manager.xml.description">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.tracecompass.tmf.ui.project.model.TmfTraceFolder">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.tracecompass.tmf.ui.project.model.TmfExperimentFolder">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.tracecompass.tmf.ui.project.model.TmfProjectElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.handler.ManageXMLAnalysisCommandHandler"
            commandId="org.eclipse.tracecompass.tmf.analysis.xml.ui.managexmlanalyses">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.timegraph.XmlTimeGraphView"
            icon="icons/eview16/ganttxml.png"
            id="org.eclipse.linuxtools.tmf.analysis.xml.ui.views.timegraph"
            name="%xmltimegraph.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.lttng2.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.xychart.XmlXYView"
            id="org.eclipse.linuxtools.internal.tmf.analysis.xml.ui.views.xyview"
            name="%xmlxychart.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.latency.PatternLatencyTableView"
            icon="icons/eview16/latency.png"
            id="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.latencytable"
            name="%latency.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.latency.PatternScatterGraphView"
            icon="icons/eview16/scatter.png"
            id="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.scattergraph"
            name="%latency.scatter.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.latency.PatternDensityView"
            icon="icons/eview16/density.png"
            id="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.density"
            name="%latency.density.view.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.latency.PatternStatisticsView"
            icon="icons/eview16/statistics_view.gif"
            id="org.eclipse.tracecompass.internal.tmf.analysis.xml.ui.views.statistics"
            name="%latency.statistic.view.name"
            restorable="true">
      </view>
   </extension>
</plugin>
